.navbar{
    height: 13vh;
}

.font-weight-bold{
    color: white;
}
.navbar{
    background-image: linear-gradient(to right, #000428, #004e92);
}

.raw{
    background: transparent!important;
    border: none!important;
}
.carousels{
    height: 550px;
}